<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="projects.css" />
    <title>Current projects</title>
  </head>
  <body>
    <div class="header">
      <header>
        <h1>Tender</h1>
      </header>
      <div class="logout">
        <p><a href="index.html">Logout</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="head">
            <h1>Manage Current Projects</h1>
        <div class="back">
            <a href="main.html">< go back</a>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <form class="form-inline" th:action="@{/admin/projcts/search}">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  name="query"
                  placeholder="Search for a project"
                />
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">Search</button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
      <br />
      <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
          <th style="width: 10%">#</th>
          <th style="width: 20%">project Title</th>
          <th style="width: 30%">project Description</th>
          <th style="width: 20%">Creation Date</th>
          <th style="width: 20%">Actions</th>
        </thead>
        <tbody>
          <tr th:each="project, projectStat : ${projects}">
            <td th:text="${projectStat.count}">1</td>
            <td th:text="${project.title}">project title</td>
            <td th:text="${project.shortDescription}">
              project short description
            </td>
            <td th:text="${#temporals.format(project.createdOn,'dd/MM/yyyy')}">
              15 JUL 2023
            </td>
            <td>
              <a
                th:href="@{/admin/projects/{projectId}/edit(projectId=${project.id})}"
                class="btn btn-primary"
              >
                Edit
              </a>
              <a
                th:href="@{/admin/projects/{projectId}/delete(projectId=${project.id})}"
                class="btn btn-danger"
                >Delete</a
              >
              <a
                th:href="@{/admin/projects/{projectUrl}/view(projectUrl=${project.url})}"
                class="btn btn-info"
                >View</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
